apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://blindstrader-prometheus:9090
    isDefault: true
    editable: false
    jsonData:
      timeInterval: "15s"
      queryTimeout: "60s"
      httpMethod: "POST"
    version: 1

  - name: Loki
    type: loki
    access: proxy
    url: http://blindstrader-loki:3100
    editable: false
    jsonData:
      maxLines: 1000
      derivedFields:
        - datasourceUid: Prometheus
          matcherRegex: "request_id=(\\w+)"
          name: "Request ID"
          url: "$${__value.raw}"
    version: 1
