---
# Docker role - Install and configure Docker

- name: Remove old Docker versions
  yum:
    name:
      - docker
      - docker-client
      - docker-client-latest
      - docker-common
      - docker-latest
      - docker-latest-logrotate
      - docker-logrotate
      - docker-engine
    state: absent
  tags: [docker]

- name: Install Docker
  yum:
    name:
      - docker
    state: present
  tags: [docker]

- name: Install Docker Compose standalone
  get_url:
    url: "https://github.com/docker/compose/releases/download/v{{ docker_compose_version }}/docker-compose-linux-x86_64"
    dest: /usr/local/bin/docker-compose
    mode: '0755'
  tags: [docker]

- name: Create Docker daemon configuration
  copy:
    content: |
      {
        "log-driver": "json-file",
        "log-opts": {
          "max-size": "10m",
          "max-file": "3"
        },
        "storage-driver": "overlay2",
        "live-restore": true
      }
    dest: /etc/docker/daemon.json
    mode: '0644'
  notify: restart docker
  tags: [docker]

- name: Start and enable Docker service
  service:
    name: docker
    state: started
    enabled: yes
  tags: [docker]

- name: Add ansible user to docker group
  user:
    name: ansible
    groups: docker
    append: yes
  tags: [docker]

- name: Install Python Docker SDK
  pip:
    name: docker
    executable: pip3
    state: present
    extra_args: --user
  become_user: ansible
  tags: [docker, python]
